table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

table td,
table th {
  border: 1px solid black;
  padding: 4px;
  font-size: 12px;
}

table tr:nth-child(even) {
  background-color: gainsboro;
}

table tr:hover {
  background-color: #ddd;
}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  border-style: solid;
  text-align: center;
  background-color: darkslateblue;
  color: white;
}
